In [1]:
from peewee import *
from datetime import date

In [2]:
db = SqliteDatabase('people.db')

In [3]:
class Person(Model):
    name = CharField()
    birthday = DateField()

    class Meta:
        database = db

In [4]:
class Pet(Model):
    owner = ForeignKeyField(Person, backref="pets")
    name = CharField()
    animal_type = CharField()

    class Meta:
        database = db

In [5]:
db.connect()

True

In [6]:
db.create_tables([Person, Pet])

In [7]:
uncle_bob = Person(name="Bob", birthday=date(1960, 1, 15))
uncle_bob.save()

1

In [8]:
grandma = Person.create(name='Grandma', birthday=date(1935, 3, 1))
herb = Person.create(name='Herb', birthday=date(1950, 5, 5))

In [9]:
grandma.name = 'Grandma L.'
grandma.save()

1

In [10]:
bob_kitty = Pet.create(owner=uncle_bob, name='Kitty', animal_type='cat')
herb_fido = Pet.create(owner=herb, name='Fido', animal_type='dog')
herb_mittens = Pet.create(owner=herb, name='Mittens', animal_type='cat')
herb_mittens_jr = Pet.create(owner=herb, name='Mittens Jr', animal_type='cat')

In [11]:
herb_mittens.delete_instance()

1

In [12]:
herb_fido.owner = uncle_bob
herb_fido.save()

1

In [13]:
grandma = Person.select().where(Person.name == "Grandma L.").get()

In [14]:
print(grandma)

2

In [15]:
for person in Person.select():
    print(person.name)

Bob
Grandma L.
Herb
Bob
Grandma L.
Herb

In [16]:
query = Pet.select().where(Pet.animal_type == 'cat')
for pet in query:
    print(pet.name, pet.owner.name)

Kitty Bob
Mittens Jr Herb
Kitty Bob
Mittens Jr Herb

In [17]:
query = Pet.select(Pet, Person).join(Person).where(Pet.animal_type == 'cat')
for pet in query:
    print(pet.name, pet.owner.name)

Kitty Bob
Mittens Jr Herb
Kitty Bob
Mittens Jr Herb

In [18]:
for pet in Pet.select().where(Pet.owner == uncle_bob):
    print(pet)

5
6

In [19]:
for pet in Pet.select().where(Pet.owner == uncle_bob).order_by(Pet.name):
    print(pet.name)

Fido
Kitty

In [20]:
for person in Person.select().order_by(Person.birthday.desc()):
    print(person.name, person.birthday)

Bob 1960-01-15
Bob 1960-01-15
Herb 1950-05-05
Herb 1950-05-05
Grandma L. 1935-03-01
Grandma L. 1935-03-01

In [21]:
d1940 = date(1940, 1, 1)
d1960 = date(1960, 1, 1)
query = Person.select().where((Person.birthday < d1940)|(Person.birthday > d1960))
for person in query:
    print(person.name, person.birthday)

Bob 1960-01-15
Grandma L. 1935-03-01
Bob 1960-01-15
Grandma L. 1935-03-01

In [22]:
query = Person.select().where(Person.birthday.between(d1940, d1960))
for person in query:
    print(person.name, person.birthday)

Herb 1950-05-05
Herb 1950-05-05

In [23]:
for person in Person.select():
    print(person.name, person.pets.count(), 'pets')

Bob 2 pets
Grandma L. 0 pets
Herb 1 pets
Bob 2 pets
Grandma L. 0 pets
Herb 1 pets

In [24]:
query = Person.select(Person, fn.COUNT(Pet.id).alias('pet_count')).join(Pet, JOIN.LEFT_OUTER).group_by(Person).order_by(Person.name)
for person in query:
    print(person.name, person.pets.count(), 'pets')

Bob 2 pets
Bob 2 pets
Grandma L. 0 pets
Grandma L. 0 pets
Herb 1 pets
Herb 1 pets

In [25]:
query = Person.select(Person, Pet).join(Pet, JOIN.LEFT_OUTER).order_by(Person.name, Pet.name)
for p in query:
    if hasattr(p, 'pet'):
        print(p.name, p.pet.name)
    else:
        print(p.name, 'no pets')

Bob Fido
Bob Fido
Bob Kitty
Bob Kitty
Grandma L. no pets
Grandma L. no pets
Herb Mittens Jr
Herb Mittens Jr

In [26]:
query = Person.select().order_by(Person.name).prefetch(Pet)
for p  in query:
    print(p.name)
    for pet in p.pets:
        print(" *", pet.name)

Bob
 * Kitty
 * Fido
Bob
 * Kitty
 * Fido
Grandma L.
Grandma L.
Herb
 * Mittens Jr
Herb
 * Mittens Jr

In [27]:
expression = fn.Lower(fn.Substr(Person.name, 1, 1)) == 'g'
for person in Person.select().where(expression):
    print(person.name)

Grandma L.
Grandma L.

In [28]:
for person in Person.select():
    print(person.name)

Bob
Grandma L.
Herb
Bob
Grandma L.
Herb